<div class="dashboard">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <div class="assets">
    <div class="asset">
      <h1>Crypto</h1>
      <app-crypto *ngIf="crypto" [crypto]="crypto"></app-crypto>
      <mat-spinner color="accent" class="spinner" *ngIf="!crypto"></mat-spinner>
    </div>
    <div class="asset">
      <h1>Metals</h1>
      <app-metal [metals]="metals" *ngIf="metals"></app-metal>
      <button mat-raised-button color="accent" (click)="addMetal()">add metal to user</button>
      <mat-spinner color="accent" class="spinner" *ngIf="!metals"></mat-spinner>
    </div>
    <div class="asset">
      <h1>Polish stock</h1>
      <app-stock [stocks]="stocks" *ngIf="stocks"></app-stock>
      <mat-spinner color="accent" class="spinner" *ngIf="!stocks"></mat-spinner>
    </div>
    <div class="asset">
      <h1>Currencies</h1>
      <app-currency [currencies]="currencies" *ngIf="currencies"></app-currency>
      <mat-spinner color="accent" class="spinner" *ngIf="!currencies"></mat-spinner>
    </div>
  </div>

  <div *ngIf="userService.user">
    <h1>Your portfolio</h1>
    <p><b>metals: {{metalTotal | number: '1.2-2'}}$</b></p>
    <div *ngFor="let m of userService.user.metals">
    =================
      <p>{{m.type}}</p>
      <p>amount: {{m.oz}}oz</p>
      <p>total: {{m.oz * pricesService[m.type]}}$</p>
    =================
    </div>
  </div>
  <!--<div>-->
    <!--<h1>polish stock</h1>-->
    <!--<div *ngFor="let s of stocks">-->
      <!--<app-asset-box [symbol]="s.symbol" [price]="s.price | number: '1.2-2'" [currency]="s.currency"></app-asset-box>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div *ngIf="currencies">-->
    <!--<h1>Currencies</h1>-->
    <!--<div *ngFor="let c of currencies.rates">-->
      <!--<app-asset-box [symbol]="c.symbol" [price]="1/c.price | number: '1.4-4'"></app-asset-box>-->
    <!--</div>-->
  <!--</div>-->
</div>

