<div>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <div *ngIf="crypto">
    <h1>crypto</h1>
    <div *ngFor="let c of crypto">
      <app-asset-box [symbol]="c.crypto" [price]="c.price | number: '1.2-2'"></app-asset-box>
    </div>
  </div>
  <div *ngIf="metals">
    <h1 >metals</h1>
    <div *ngFor="let m of metals">
      <app-asset-box [symbol]="m.type" [price]="m.price | number: '1.2-2'"></app-asset-box>
    </div>

    <!--<app-asset-box [symbol]="'silver'" [price]="metal.silver.total"></app-asset-box>-->
    <!--<p>{{metals | json}}</p>-->
  </div>
  <!--<div>-->
    <!--<h1>polish stock</h1>-->
    <!--<div *ngFor="let s of stock">-->
      <!--<app-asset-box [symbol]="s.symbol" [price]="s.price"></app-asset-box>-->
    <!--</div>-->
  <!--</div>-->
  <!--<p>{{stock | json}}</p>-->
</div>

